@import "styles/variables";

#items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#filter {
  padding: 0;
  height: 100%;
}

.background {
  background-color: $bgGray;
  height: 100%;
  overflow: auto;
}

.modal {
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  bottom: 20%;
  border-radius: 25px;
  background-color: papayawhip;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(141, 141, 141, 0.24);
}

